@{
	ViewData["title"] = "Detail";
}
@using MyNotes.ViewModels;
@model Note;

<div class="container-fluid p-4">

    <div class="card mx-auto col-12 col-md-10 col-lg-8">
        <div class="card-body">
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <h5 class="card-title">@Model.NoteTitle</h5>
                </div>
                <div class="d-flex">
                    <a asp-action="edit" asp-controller="note" asp-route-id="@Model.NoteId" class="btn btn-sm btn-primary me-2">Edit</a>
                    <a asp-action="delete" asp-controller="note" asp-route-id="@Model.NoteId" class="btn btn-sm btn-primary me-2">Delete</a>
                    <a asp-controller="note" asp-action="complete" asp-route-id="@Model.NoteId" class="btn btn-sm">
                        @if (Model.IsCompleted == true)
                        {
                            <i class="fas fa-check fas-xl" style="color: #0ecd3e;"></i>

                        }
                        else
                        {
                            <i class="fas fa-check fas-xl" style="color: #afb0b1;"></i>
                        }
                    </a>
                </div>
            </div>
            <p class="card-text mt-3">@Model.NoteDescription</p>
        </div>
    </div>

</div>

